body {
  width: 500px;
  margin: auto;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  padding: 0 2em;
  font-family: sans-serif;
  font-size: 1.2rem;
}
input[type="text"],
button {
  font-size: 1.2rem;
}
.actions ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;
  padding: 0;
  margin-bottom: 0;
}
.actions ul li {
  margin-right: 1em;
  cursor: pointer;
}
.actions ul li:hover {
  border-bottom: 1px solid;
}

footer {
  position: absolute;
  bottom: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  text-decoration: underline;
}
.task-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.tasks {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.bin {
  font-size: 1rem;
  cursor: pointer;
}
